.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
}

.App-header-content {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logout-button {
  float: right;
  padding: 0.5em;
  border: 2px solid white;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin: 0;
}

@media (max-width: 45rem) {
  .App-header {
    min-height: 10vh;
    height: 15vh;
  }
  .App-header-content  {
      width: 90%;
      height: 20vh;
  }
}